@{
    Layout = null;
}

<!DOCTYPE html>

@helper GetTemplate(string templateId)
{
    @Html.Action("GetTemplate", "Templates", new { templateId })
}

<html>
<head>
    <title>Index</title>
   
@*    @GetTemplate("_baseLayout")
    @GetTemplate("_catalogLayout")
     
    @GetTemplate("dashbord")
    @GetTemplate("templateList")
    @GetTemplate("templateEdit")
    @GetTemplate("mediaboxsetup")
    
    @GetTemplate("test")
       @GetTemplate("statichtml")*@

    <style type="text/css">
        .active {
            background-color: red;
        }
    </style>
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.1.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/sammy/sammy.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        //todo:
        // lazy loading for templates +
        // bot call layout vm is layout not change
        // refactoring  start method +
        // static html +

        var app = $.sammy(function () {
            var self = this;

            self.screens = [];
            self.RegisterScreen = function (screen) {
                self.screens.push(screen);
            };

            self.content = ko.observable(null);


            self.init = function (screen, responseData) {
                var screenData = responseData || {}, // base vm for srceen is data from request or empty object
                    layout = screen.layout,
                    layoutData = {};

                if (layout && layout.viewModel) //if screen have layout with custome vm, creates it, else vm for layout empty object
                    layoutData = new layout.viewModel(responseData);

                if (screen.viewModel)//if screen have vm create it, sent response data and vm layout in screen for init
                    $.extend(screenData, new screen.viewModel(responseData, layoutData));

                self.laodIfNeed(screen.template);//load template 
                var screenSection = {
                    templateName: screen.template,
                    data: screenData
                };
                if (layout) {//if screen have layout
                    layoutData.content = ko.observable(screenSection); // layout vm should contain content observable, for render screen inside

                    self.laodIfNeed(layout.template); //load template 

                    return {
                        templateName: layout.template,
                        data: layoutData
                    };
                } else {
                    return screenSection;
                }
            };

            self.laodIfNeed = function (templateId) {
                if ($('#' + templateId).length == 0) {
                    $.ajax({//https://groups.google.com/forum/?fromgroups=#!topic/knockoutjs/_YJwSs5ZwaE todo: Deferred, timeout
                        url: '@Url.Action("GetTemplate", "Templates")',
                        async: false,//!!!
                        dataType: "html",
                        data : { templateId: templateId },
                        type: "GET",
                        success: function (template) { $("body").append(template); }
                    });
                }
            };

            self.start = function () {

                var roters = [];
                $.map(self.screens, function (screen) {
                    var action = function () {
                        if (screen.dataUrl) {
                            $.get(screen.dataUrl, this.params.toHash(), function (responseData) {
                                var page = self.init(screen, responseData);
                                self.content(page);
                            });
                        } else {
                            var page = self.init(screen, null);
                            self.content(page);
                        }
                    };
                    roters.push(['get', screen.hash, action]);
                });

                self.mapRoutes(roters);
                self.run();
                ko.applyBindings(self);
            };


        });

        var Layout = function (templateName, viewModel) {
            this.template = templateName;
            this.viewModel = viewModel;
        };

        $(function () {
            var BaseLayout = new Layout('_baseLayout');
            var CatalogLayout = new Layout('_catalogLayout', function () {
                var self = this;
                self.catalogMenu = ko.observableArray([]);
                self.selectedItem = ko.observable('#templates');
                $.get('@Url.Action("GetMenu")', '', function (data) {
                    self.catalogMenu(data.items);
                });
            });

            app.RegisterScreen({
                dataUrl: '@Url.Action("GetMenu")',
                hash: '/?',
                layout: BaseLayout,
                template: "dashbord"
            });
            app.RegisterScreen({
                dataUrl: '@Url.Action("GetTemplatets")',
                hash: '/?#templates',
                layout: CatalogLayout,
                template: "templateList",
                viewModel: function (data, layout) {
                    var self = this;
                    layout.selectedItem('#templates');
                    self.goToEdit = function (item) {
                        location.hash = '#templates/' + item.Id;
                    };
                }
            });
            app.RegisterScreen({
                dataUrl: '@Url.Action("GetTemplate")',
                hash: '/?#templates/:id',
                layout: CatalogLayout,
                template: "templateEdit",
                viewModel: function (data, layout) {
                    layout.selectedItem('#templates');
                }
            });

            app.RegisterScreen({
                dataUrl: '@Url.Action("GettestData")',
                hash: '/?#test',
                template: "test"
            });

            app.RegisterScreen({
                dataUrl: '@Url.Action("GetMediaBoxData")',
                hash: '/?#mediaboxsetup',
                layout: CatalogLayout,
                template: "mediaboxsetup",
                viewModel: function (data, layout) {
                    layout.selectedItem('#mediaboxsetup');
                }
            });

            app.RegisterScreen({
                hash: '/?#staticHtml',
                template: "statichtml",
                viewModel: function () { 
                    this.age = 12;
                }
            });

            app.start();

            
        });
    </script>
</head>
<body>
<!-- ko with : content -->
    <!-- ko template: { name: templateName, data: data } -->
    <!-- /ko -->
<!-- /ko -->
</body>
</html>
